@model List<StanfordCourseMatch.Lecture>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Lets keep our facebook notifications to a minimum and leave the facebook group for threads that really matter.
            </p>
        </div>
    </section>
}
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#accordion").accordion();
  });
  </script>
<h3>Are you in any of the following?</h3>
<!--Add some sort of Javascript to expand each lecture and then expand each section. Accordian style-->

    @if(Model!=null){
        <div id="accordion">
        @foreach (StanfordCourseMatch.Lecture lect in Model)
        {
        <div id="lecture">
           <h3><a href="#"> @lect.Name</a></h3>
            
            @foreach (StanfordCourseMatch.Section sect in lect.Sections)
            {
              <div id="section">
              <table><tr><td>Section: @sect.SectionNumber</td>

             <td>
            @using (Html.BeginForm())
             {
                 @Html.Hidden("SectionID", sect.Id)
                 @Html.Hidden("AddUser", "true")
        
                 <input type="submit" value="I'm in this Section" />
             }

                  </tr>
              </table>
              @foreach (StanfordCourseMatch.User user in sect.Users)
              {
                <a href=@user.FacebookUrl><img src=@user.FacebookPhoto /></a>
              }
            
       </div>
           }
            
          </div>
       
            
        using (Html.BeginForm())
        {
             @Html.Hidden("LectureID",lect.Id)
             @Html.Hidden("AddSection", "true")
             @Html.Label("Section Number")
             @Html.TextBox("SectionNumber")
             <input type="submit" value="Add Section" />
        }
            
        }       
    </div>
        }
            
                  
      
      


    @using (Html.BeginForm())
    {
    @Html.Hidden("AddLecture", "true")
    @Html.Label("Course Name")
    @Html.TextBox("CourseName")
<input type="submit" value="Add Lecture" />
    }
<!--
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn
            more</a></li>
    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">
            Learn more</a></li>
    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn
            more</a></li>
</ol>
-->